@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
}

.navbar {
  /* border-bottom: 1px solid #eee; */
  padding: 20 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 30px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: hsl(0, 0%, 8%);
  z-index: 100;
}
.nav-links {
  margin-left: 30px;
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  font-size: 0.75rem;
  color: hsl(0, 0%, 8%);
  font-weight: 500;
  opacity: 0.7;
  transition: all 0.2s ease;
}

.nav-links .dropdown-btn:hover,
.nav-links li a:hover,
.auth-buttons a:hover {
  opacity: 1;
}

.dropdown-btn {
  border: none;
  cursor: pointer;
  background: none;
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.7;
  transition: all 0.2s ease;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  list-style: none;
  background: hsl(0, 0%, 98%);
  transform: translateY(2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 15px 20px;
  border-radius: 8px;
  min-width: 100px;
  line-height: 30px;
  left: -20px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s linear;
}

.dropdown-content li a img {
  width: 15px;
  height: 15px;
}

.dropdown-content li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.75rem;
}

.arrow-icon {
  transition: all 0.3s ease;
}

.arrow-rotate {
  transform: rotate(180deg);
}

.dropdown-content.show {
  opacity: 1;
  pointer-events: auto;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.register {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 100%);
  transition: all 0.2s ease;
}

.register:hover {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
}

.auth-buttons a {
  text-decoration: none;
  font-size: 0.75rem;
  color: hsl(0, 0%, 8%);
  font-weight: 500;
  opacity: 0.7;
}

.hamburger {
  cursor: pointer;
  border: none;
  display: none;
  width: 24px;
  z-index: 900;
  height: 24px;
  background: none;
}

#menu-icon {
  transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 35px;
  }

  .navbar-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    max-width: 200px;
    height: 100vh;
    background-color: hsl(0, 0%, 98%);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 20px;
    transform: translateX(100%);
    transition: transform 0.3s;
    z-index: 90;
  }

  .navbar-container.active {
    right: 0;
    transform: translateX(0);
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
    display: none;
  }

  .dropdown-content.show {
    display: block;
  }

  .auth-buttons {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .register {
    padding: 0;
    border: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 80;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .overlay.active {
    opacity: 1;
  }
}
